<div class="bg-body-tertiary p-3">
    <p class="text-center text-body-secondary">
        © 2024 
        <a class="link-secondary" href="/">outages.ge</a> | 
        <a class="link-secondary" href="https://github.com/roaddust2/outages-ge/blob/main/LICENSE">MIT License</a> | 
        Powered by 
        <a class="link-secondary" href="https://fastapi.tiangolo.com/" rel="nofollow">FastAPI</a>, 
        <a class="link-secondary" href="https://htmx.org/" rel="nofollow">htmx</a> and 
        <a class="link-secondary" href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>
    </p>
</div>